*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width:300px ;
    position: fixed;
    height: 100%;
    background-color: seagreen;
    padding-top: 60px;
    list-style: none;
}
#text1{
    color: brown;
    font-size: 40px;
    font-weight: bold;
}
#text2{
    color: brown;
    font-size: 33px;
    font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 160px;
    margin-left: 70px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    margin-bottom: 1px;
}
ul li a{
    color: maroon;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li :hover{
    background-color: indianred;
}
#Home{
    border: solid 1px;
    height: 800px;
    background-color:indianred;
    padding-left: 340px;
}
#text3{
    color: teal;
    font-size: 58px;
}
#text4{
    color: aliceblue;
}
#text5{
    font-size: 22px;
    font-weight: bold;
}
#bt1{
    height: 100px;
    width: 150px;
    background-color: olivedrab;
    border-radius: 2opx;
    color: mediumspringgreen;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
#about{
    border: solid 1px;
    height: 800px;
    background-color: blanchedalmond;
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: indianred;
}
html{
    scroll-behavior: smooth;
}